body{
    background-color: peachpuff;
}
#sketch_name {
    color: green;
}
#score {
    font-size: 35px;
    margin-left: 20px;
}
#time {
    font-size: 35px;
    margin-right: 20px;
    float: right;
}
